@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@300&display=swap');

.footerIcon {
    border: rgb(244, 233, 233) 1px solid;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    padding: 11px;
    margin-left: 20px;
    font-size: 1.1rem;
    box-shadow: aqua 0px 0px 5px 1px;
}

.footerIconFirst {
    border: rgb(244, 233, 233) 1px solid;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    padding: 11px;
    font-size: 1.1rem;
    box-shadow: aqua 0px 0px 5px 1px;
}

.footerTitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 23px;
    margin-top: 20px;
    text-align: center;
    text-shadow: aqua 0px 0px 7px;
    /* box-shadow: aqua 5px 5px 5px 5px; */
}