@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@300&display=swap');

.title {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    padding-top: 20px;
}

.filter {
    font-family: 'Poppins', helvetica;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: #72849e;
    margin-top: 25px;
}

.projects {
    padding-top: 45px;
    padding-bottom: 35px;
    padding-left: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
}

@media screen and (max-width: 1482px) {
    .projects {
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 8px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;
    }
}

@media screen and (max-width: 1050px) {
    .projects {
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 8px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
    }
}

@media screen and (max-width: 700px) {
    .projects {
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 8px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px;
    }
}

.project {
    display: flex;
    justify-content: center;
    border: 1px solid;
    padding: 1.5%;
    border-color: #7DD3FC;
    border-radius: 5px;
}

.project:hover {
    transform: translateY(-12px);
    transition: all 0.4s ease 0s;

    /* transform: ; */
    /* translate: inherit; */
    /* background-color: brown; */
    /* transition: 2s; */


    /* -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px); */
}