@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@300&display=swap');

.title {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    padding-top: 20px;
}

.filter {
    font-family: 'Poppins', helvetica;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: #72849e;
    margin-top: 25px;
}

.projects {
    padding-top: 45px;
    padding-bottom: 35px;
    padding-left: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
}

@media screen and (max-width: 1482px) {
    .projects {
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 8px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;
    }
}

@media screen and (max-width: 1050px) {
    .projects {
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 8px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
    }
}

@media screen and (max-width: 700px) {
    .projects {
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 8px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px;
    }
}

.project {
    display: flex;
    justify-content: center;
    border: 1px solid;
    padding: 1.5%;
    border-color: #7DD3FC;
    border-radius: 5px;
}

.project:hover {
    transform: translateY(-12px);
    transition: all 0.4s ease 0s;
}


.projectName {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    color: #90AFDD;
}



/* .projectmodal {
    margin: 20px 0 10px 0;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    color: #898989;
    line-height: 12px;
    box-shadow: inset 0 -6px 0 #fdd912;
    -moz-box-shadow: inset 0 -6px 0 #fdd912;
    -webkit-box-shadow: inset 0 -6px 0 #fdd912;
} */