@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Glory&display=swap');

.amiri {
    font-family: 'Amiri', serif;
}

.contactDetails {
    font-family: 'Glory', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #b7bccb;
}